table.center {
	margin-left: auto;
	margin-right: auto;
}

.square {
	text-align: center;
	width: 160px;
	height: 160px;
	border: 5px solid black;
	padding: 0px;
	margin: 0px;
}

body {
	text-align: center;
	font: 120px bold Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}
